// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: 1200px) {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

// body {
//   font-family: $FontFamilyMain;
//   color: $MainTextColor;
//   background-color: $WhiteTextColor;
//   font-size: 14px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
// }

.btn {
  display: inline-block;
  border-radius: 22px;
  border: transparent;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
