// Colors
$MainColorText: #000000;
$SecondColorText: #907e82;
$WhiteColorText: #ffffff;

$AccentColor: #d41443;

$BrightPink: #ffa5ba;
$PalePink: #ffb8ca;
$AccentColorSection: #fff5f6;

$CardsColorFirst: #ffb8ca;
$CardsColorSecond: #f0d1a5;
$CardsColorThird: #c2e297;

$BorderColor: #e1e1e1;
