// Colors
$mainColorText: #000000;
$secondColorText: #907e82;
$whiteColorText: #ffffff;

$accentColor: #d41443;

$brightPink: #ffa5ba;
$palePink: #ffb8ca;
$accentColorSection: #fff5f6;

$cardsColorFirst: #ffb8ca;
$cardsColorSecond: #f0d1a5;
$cardsColorThird: #c2e297;

$iconColor: #fea5bb;
$backdrop: rgba(75, 41, 49, 0.774);
$borderColorGradient: #e1e1e1;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
