.advantages{
    padding-top: 19px;
    padding-bottom: 49px;
    background-color: #FFF5F6;
}

.advantages-list{
    &:not(:last-child){
        margin-bottom: 15px;
    } 
}
.advantages-icon{
    fill: #ffb8ca;
    margin-bottom: 16px;
}
.advantages-title{
    font-family: Titan One;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-bottom: 15px;

}

.advantages-text{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;   
}   
