.page-header {
  background-color: #ffb8ca;
<<<<<<< Updated upstream
  height: 50px;
=======
  padding-top: 6px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
>>>>>>> Stashed changes
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
}

.hero {
  background-color: #ffb8ca;
<<<<<<< Updated upstream
  position: relative;
  padding: 6px 20px 0 20px;
  min-height: 502px;
  z-index: 1;
  @include tab {
    padding: 37px 34px 0 34px;
  }
=======
  padding-left: 20px;
  min-height: 502px;
  position: relative;
  z-index: 1;
}

.hero__container {
  display: flow-root;
  margin-top: 27px;
  position: relative;
}

.logo {
  min-height: 50px;
  display: flex;
  align-items: center;
>>>>>>> Stashed changes
}

.title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 137px;
}

.title__wrap {
  color: #d41443;
<<<<<<< Updated upstream
  font-size: 47px;
=======
  font-size: 48px;
  line-height: 0.9;
>>>>>>> Stashed changes
}

.hero__wrap-btn {
  display: flex;
  margin-top: 19px;
}

.hero__btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #d41443;
  border-radius: 20px;
  min-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  &:hover {
    background: #ecebeb;
    color: #d41443;
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.hero__btn--active {
  background-color: #d41443;
  color: #ffffff;
  &:hover {
    background-color: #d41443;
    color: #ffffff;
  }
}

<<<<<<< Updated upstream
.ice-circle {
  background: #ffa5ba;
  position: absolute;
  border-radius: 50%;
  top: 46%;
  right: 26%;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 1px 0px 149px #ffa5ba;
  z-index: -1;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: -1;
}

.mob-menu__open-btn {
  border: none;
  background-color: inherit;
  padding: 0;
}
=======
.circle {
  width: auto;
  height: auto;
  border-radius: 50%;

  margin: 9px auto 0 auto;
  background-image: radial-gradient(circle at top, rgba(255, 165, 186, 1), rgba(255, 165, 186, 1)),
    url(../src/images/mobile/hero-1-320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// .eclipse-wrap {
//   background-color: inherit;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/mobile/hero-1-320.png);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
// }
>>>>>>> Stashed changes
