.page-header {
  background-color: #ffb8ca;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  background-color: #ffb8ca;
  position: relative;
  padding: 6px 20px 0 20px;
  min-height: 502px;
  z-index: 1;
  @include tab {
    padding: 37px 34px 0 34px;
  }
}

.title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 137px;
}

.title__wrap {
  color: #d41443;
  font-size: 47px;
}

.hero__wrap-btn {
  display: flex;
  margin-top: 19px;
}

.hero__btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #d41443;
  border-radius: 20px;
  min-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  &:hover {
    background: #ecebeb;
    color: #d41443;
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.hero__btn--active {
  background-color: #d41443;
  color: #ffffff;
  &:hover {
    background-color: #d41443;
    color: #ffffff;
  }
}

.ice-circle {
  background: #ffa5ba;
  position: absolute;
  border-radius: 50%;
  top: 46%;
  right: 26%;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 1px 0px 149px #ffa5ba;
  z-index: -1;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: -1;
}

.mob-menu__open-btn {
  border: none;
  background-color: inherit;
  padding: 0;
}
