.hero {
  background-color: $palePink;
}

.hero__container {
  position: relative;
  min-height: 502px;
  max-width: 480px;
  padding: 6px 20px 0 20px;
  margin: 0 auto;
  z-index: 1;
  @include tab {
    padding: 37px 34px 0 34px;
    min-height: 399px;
    max-width: 768px;
  }
  @include desk {
    padding: 37px 97px 0 46px;
    min-height: 665px;
    max-width: 1280px;
  }
}

.title {
  font-family: Titan One;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $whiteColorText;
  margin-top: 137px;
  @include tab {
    margin-top: 15px;
    font-size: 22px;
    line-height: 1.13;
  }

  @include desk {
    margin-top: 84px;
    margin-left: 69px;
    font-size: 38px;
    line-height: 1.15;
  }
}

.title__wrap {
  color: $accentColor;
  font-size: 47px;
  @include tab {
    font-size: 35px;
    line-height: 0.7;
  }
  @include desk {
    font-size: 60px;
  }
}

.hero__wrap-btn {
  display: flex;
  margin-top: 19px;
  @include desk {
    margin-left: 69px;
    margin-top: 25px;
  }
}

.hero__btn {
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background-color: $whiteColorText;
  color: $accentColor;
  border-radius: 20px;
  min-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  &:hover,
  &:focus {
    background: $whiteColorText;
    color: $accentColor;
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
  @include tab {
    padding-left: 14px;
    padding-right: 14px;
  }

  @include desk {
    min-height: 40px;
    font-size: 14px;
    line-height: 1.28;
    padding-left: 21px;
    padding-right: 21px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.hero__btn--active {
  background-color: $accentColor;
  color: $whiteColorText;
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColorText;
  }
}

.ice-circle {
  background: $brightPink;
  position: absolute;
  border-radius: 50%;
  top: 46%;
  right: 26%;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 1px 0px 149px $brightPink;
  z-index: -1;
  @include tab {
    top: 41%;
    right: 36%;
    -webkit-box-shadow: 0px 1px 0px 136px $brightPink;
    z-index: 1;
  }
  @include desk {
    top: 44%;
    right: 40%;
    -webkit-box-shadow: 0px 1px 0px 245px $brightPink;
  }
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: -1;
  @include tab {
    right: 33%;
    z-index: 1;
  }
  @include desk {
    right: 35%;
  }
}

.eco-milk {
  margin-top: 19px;
  display: flex;
  position: relative;
  @include desk {
    margin-left: 31px;
    margin-top: 56px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.eco-milk__text {
  font-family: DM Sans;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: $whiteColorText;
  margin-top: 48px;
  margin-left: -4px;
  @include desk {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 30px;
  }
}

.arrow-right__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $whiteColorText;
  border-radius: 50%;
  border: none;
  padding: 0;
  position: absolute;
  bottom: 7px;
  left: 118px;
  &:hover,
  &:focus {
    width: 25px;
    height: 25px;
  }
  @include desk {
    bottom: 16px;
    left: 214px;
    &:hover,
    &:focus {
      width: 35px;
      height: 35px;
    }
  }
}

.hero__right-wrap {
  position: absolute;
  right: 40px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 1;
  @include desk {
    right: 110px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__right-wrap__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:not(:first-child) {
    margin-top: 13px;
  }
  @include desk {
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
}

.hero__right-wrap__link__16 {
  width: 43px;
  height: 44px;
  @include desk {
    width: 72px;
    height: 77px;
  }
}

.hero__right-wrap__link__23 {
  width: 51px;
  height: 43px;
  @include desk {
    width: 92px;
    height: 76px;
  }
}

.hero__right-wrap__number {
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accentColor;
  @include desk {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__right-wrap-text {
  font-family: DM Sans;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  color: $whiteColorText;
  @include desk {
    font-size: 14px;
    line-height: 1.28;
  }
}

.text-alight--left {
  text-align: left;
}

.text-alight--center {
  text-align: center;
}

.hero__white-circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.tasty-girl {
  margin-top: 68px;
  @include desk {
    margin-top: 109px;
  }
}
