.products__section{
    background: $whiteColorText;
    margin: 0 auto;
    width: 100%;
    padding: 121px 98px 0;
}

.section__sup-title{
    color: $brightPink;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section__title{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accentColor;
    margin-bottom: 144px;
}

.products__list{
    list-style: none;
    @include tab{
        display: flex;
flex-direction: row;    
justify-content: space-around;}
}

.products__item{
    position: relative;
    margin: 0 auto;
    width: 280px;
    padding: 161px 39px 41px 41px;
    border-radius: 24px;
    color: $whiteColorText;
margin-bottom: 130px;
    &--first{
        background-color: $cardsColorFirst;
    }
    &--second{
        background-color: $cardsColorSecond;
    }
    &--third{
        background-color: $cardsColorThird;
    }

    @include tab{
        width: 220px;
    }
    @include desk{
        width: 330px;
    }
}

.products__picture{
    width: 249px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.products__title{
    font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.dots{
    font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.04em;
padding: 30px 0;

// left: 147px;
// top: 1053px;
}

.products__description{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 152%;
text-align: center;
letter-spacing: 0.04em;
padding-bottom: 30px;
}

.products__button{
    width: 40px;
    height: 40px;
    background: $whiteColorText;
    border: 0;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $accentColor;
}

.button__image{
    height: 40px;
}
