.pruducts__section{
    margin: 0 auto;
}

.products__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pruducts__item{
    width: 280px;
}

.products__button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 auto;

}
.button__image{
    display: none;
}