.pruducts__section{
    margin: 0 auto;
}

.products__list{
    display: flex;
    justify-content: space-between;
}

.pruducts__item{
    width: 280;
}

.products__button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 auto;

}
.button__imgage{
    display: none;
}