<section class="about" id="about">
    <div class="container">
        <p class="about__text">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrap">
            <picture class="about__picture">
                <source srcset="./images/desktop/features-1-1200.png 1x, ./images/desktop/features-1-1200@2x.png 2x" media="(min-width: 1280px) ">
                <source srcset="./images/tablet/features-1-768.png 1x, ./images/tablet/features-1-768@2x.png 2x " media="(min-width: 768px) ">
                <source srcset="./images/mobile/features-1-320.png 1x, ./images/mobile/features-1-320@2x.png 2x " media="(min-width: 320px) ">
                <img class="about__picture about__picture--cow" src="./images/desktop/features-1-1200.png " alt="изображение коровы">
            </picture>
            <div class="about-articles">
                <p class="about-articles__text about-articles__text--black ">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about-articles__text about-articles__text--item">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>

                <p class="about-articles__text about-articles__text--grey">Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__btn ">Read more
                  <svg width="10px" height="10px" class="corner-svg">
            <use href="./images/icons.svg#icon-corner"></use>
                </button>
            </div>
        </div>
    </div>
</section>