<section class="about" id="about">
    <div class="container">
        <p class="about_text">tradition and love</p>
        <h2 class="about_title">how it’s made?</h2>
        <div class="about_wrap">
            <picture class="about_img">
                <source srcset="./images/desktop/features-1-1200.png 1x, ./images/desktop/features-1-1200@2x.png 2x" media="(min-width: 1200px) ">
                <source srcset="./images/tablet/features-1-768.png 1x, ./images/tablet/features-1-768@2x.png 2x " media="(min-width: 768px) ">
                <source srcset="./images/mobile/features-1-320.png 1x, ./images/mobile/features-1-320@2x.png 2x " media="(min-width: 320px) ">
                <img class="about_img_cow" src="./images/desktop/features-1-1200.png " alt="изображение коровы">
            </picture>
            <div class="about_article">
                <p class="about_article item-1 black ">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about_article item-2">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>

                <p class="about_article item-3">Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button " class="about_btn ">Read more
                 <!-- <svg class="about_icon " href="../images/icons.svg#icon-arrow-right ">
                </svg> -->
        </button>
            </div>
        </div>


    </div>
</section>