<section class="advantages">
    <div class="container contanier-adv">
        <h2 class="visually-hidden">Adventages</h2>
        <ul class="advantages-item">
            <li class="advantages-list">
                <h3 class="advantages-title">721</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list">
                <h3 class="advantages-title">16kg</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list">
                <h3 class="advantages-title">84</h3>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
