<section class="section-contacts">
   
  <div class="container">
      <div class="contacts">
      <div class="card">
      <ul class="nav-list">
          <li class="nav-item">
              <h3 class="nav-title">CAFE</h3>
              <b>Chicago</b>
              <p class="nav-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>          
      </ul>
      <div class="line"></div>
      <ul class="time-list">
          <li class="time-item">
              <h3 class="time-title">Monday - Friday</h3>
              <p class="time-text">06:00 AM - 10:00 PM</p>
          </li>
        <li class="time-item">
            <h3 class="time-title">Saturday - Sunday</h3>
            <p class="time-text">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
    <div class="line"></div>
      <ul class="contacts-list">
          <li class="contacts-item">
              <a class="contacts-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
        <li class="contacts-item">
            <a class="contacts-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="card">
        <ul class="nav-list">
            <li class="nav-item">
                <h3 class="nav-title-second">FOOD TRUCK</h3>
                <b>Los Angeles</b>
                <p class="nav-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
        </ul>
        <div class="line"></div>
        <ul class="time-list">
            <li class="time-item">
                <h3 class="time-title">Monday - Friday</h3>
                <p class="time-text">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-item">
                <h3 class="time-title">Saturday - Sunday</h3>
                <p class="time-text">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        <div class="line"></div>
        <ul class="contacts-list">
            <li class="contacts-item">
                <a class="contacts-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-item">
                <a class="contacts-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div class="card">
        <ul class="nav-list">
            <li class="nav-item">
                <h3 class="nav-title">CAFE</h3>
                <b>New York</b>
                <p class="nav-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
        </ul>
        <div class="line"></div>
        <ul class="time-list">
            <li class="time-item">
                <h3 class="time-title">Monday - Friday</h3>
                <p class="time-text">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-item">
                <h3 class="time-title">Saturday - Sunday</h3>
                <p class="time-text">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        <div class="line"></div>
        <ul class="contacts-list">
            <li class="contacts-item">
                <a class="contacts-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-item">
                <a class="contacts-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        </div>
        </div>
       
        <button type="submit" class="btn-oval-contacts">Our Locations
            <svg class="send-first" width="4" height="8">
                <use href="images/icons.svg#icon-corner"></use>
            </svg>
        </button>
        <button type="submit" class="btn-oval-franchise">Franchise
            <svg class="send-second" width="4" height="8">
                <use href="images/icons.svg#icon-corner"></use>
            </svg>
        </button>

  </div>
</section>