<section>
  <div class="container">
    <div class="swiper mySwiper">
      <div class="slider swiper-wrapper">
        <div class="slider-item swiper-slide first">
          <img class="slider-picture" src="" alt="first" />
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <b class="slider-title">Emily, Los Angeles</b>
        </div>
        <div class="slider-item swiper-slide second">
          <img class="slider-picture" src="" alt="second" />
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <b class="slider-title">Loren, New York</b>
        </div>
        <div class="slider-item swiper-slide third">
          <img class="slider-picture" src="" alt="third" />
          <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <b class="slider-title">Katarina, Alabama</b>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
