<section class="section-reviews">
  <div class="container swiper mySwiper">
    <h2 class="visually-hidden">Custom_reviews</h2>

    <div class="slider swiper-wrapper">
      <div class="slider__item swiper-slide">
        <article class="slider-article">
          <h3 class="visually-hidden">review1</h3>
          <picture class="slider-article__userfoto">
            <source srcset="" media="(min-width: 1280px)" />

            <source srcset="" media="(min-width: 768px)" />

            <source srcset="" media="(min-width: 320px)" />

            <img class="" alt="first" src="" />
          </picture>
          <div class="slider-article__background">
            <p class="slider-article__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-article__title">Emily, Los Angeles</p>
        </article>
      </div>

      <div class="slider__item swiper-slide">
        <article class="reviews-article">
          <h3 class="visually-hidden">review2</h3>
          <picture class="slider-article__userfoto">
            <source srcset="" media="(min-width: 1280px)" />

            <source srcset="" media="(min-width: 768px)" />

            <source srcset="" media="(min-width: 320px)" />

            <img class="slider-article__img" src="" alt="second" />
          </picture>

          <div class="slider-article__background">
            <p class="slider-article__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-article__title">Ofeliay, New York</p>
        </article>
      </div>

      <div class="slider__item swiper-slide">
        <article class="reviews-article">
          <h3 class="visually-hidden">review3</h3>
          <picture class="slider-article__userfoto">
            <source srcset="" media="(min-width: 1280px)" />

            <source srcset="" media="(min-width: 768px)" />

            <source srcset="" media="(min-width: 320px)" />

            <img class="slider-article__img" src="" alt="third" />
          </picture>

          <div class="slider-article__background">
            <p class="slider-article__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="slider-article__title">Julietta, Washington</p>
        </article>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.mySwiper', {
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    loop: true,
  });
</script>
