<!--               Подвал                     -->

<footer class="footer" id="footer">
  <div class="container container__footer">
    <div class="footer__title-box">
      <p class="footer__title-first">homemade ice cream made</p>
      <p class="footer__title-second">with passion</p>
    </div>
    <div class="footer__contact-box">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://github.com/"
            target="_blank"
            aria-label="link to github"
            rel="noopener noreferrer nofollow"
          >
            <svg class="footer-social__icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://telegram.org/"
            target="_blank"
            aria-label="link telegram"
            rel="noopener noreferrer nofollow"
          >
            <svg class="footer-social__icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://facebook.com/"
            target="_blank"
            aria-label="link facebook"
            rel="noopener noreferrer nofollow"
          >
            <svg class="footer-social__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-social-tel-box">
        <p class="footer-social-tel-box__text">Feel free to contact</p>
        <a class="footer-social-tel-box__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </address>
    </div>
  </div>
  <div class="footer-copiright">
    <p class="footer-copiright__text">&copy; 2022 - IceCream. All Rights Reserved.</p>
    <button class="footer-copyright__btn" data-team-open>Developer's team</button>
    <a href="#" title="Scroll UP" class="scrollup-btn"></a>
  </div>
</footer>
