<footer class="section" id="footer"></footer>
<div class="container">
<div>
  <p>
    homemade ice cream made
  </p>
  <p>
    with passion
  </p>
</div>
<div>
  <ul>
    <li>
      <svg width="34" height="34">
        <use href="./images/icons/sprite.svg#icon-github"></use>
      </svg>
    </li>
    <li>
      <svg width="34" height="34">
        <use href="./images/icons/sprite.svg#icon-github"></use>
      </svg>
    </li>
    <li>
      <svg width="34" height="34">
        <use href="./images/icons/sprite.svg#icon-github"></use>
      </svg>
    </li>
  </ul>
</div>
<div>
  <p>Feel free to contact</p>
  <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
</div>
</div>
</footer>
