<section class="gallery-section">
  <div class="container container--gallery">
    <h2 class="visually-hidden">Gallery Ice Cream</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-1-desk.jpg 1x, ./images/gallery/gallery-1-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-1-tab.jpg 1x, ./images/gallery/gallery-1-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-1-mob480.jpg 1x, ./images/gallery/gallery-1-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-1-mob.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-2-desk.jpg 1x, ./images/gallery/gallery-2-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-2-tab.jpg 1x, ./images/gallery/gallery-2-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-2-mob480.jpg 1x, ./images/gallery/gallery-2-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-2-mob.jpg" loading="lazy" alt="Ice Cream">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-3-desk.jpg 1x, ./images/gallery/gallery-3-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-3-tab.jpg 1x, ./images/gallery/gallery-3-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-3-mob480.jpg 1x, ./images/gallery/gallery-3-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-3-mob.jpg" loading="lazy" alt="Ice Cream pink">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-4-desk.jpg 1x, ./images/gallery/gallery-4-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-4-tab.jpg 1x, ./images/gallery/gallery-4-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-4-mob480.jpg 1x, ./images/gallery/gallery-4-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-4-mob.jpg" loading="lazy" alt="Ice Cream in a cup">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-5-desk.jpg 1x, ./images/gallery/gallery-5-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-5-tab.jpg 1x, ./images/gallery/gallery-5-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-5-mob480.jpg 1x, ./images/gallery/gallery-5-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-5-mob.jpg" loading="lazy" alt="Ice Cream  and girl">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-6-desk.jpg 1x, ./images/gallery/gallery-6-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-6-tab.jpg 1x, ./images/gallery/gallery-6-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-6-mob480.jpg 1x, ./images/gallery/gallery-6-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-6-mob.jpg" loading="lazy" alt="Ice Cream dessert">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-7-desk.jpg 1x, ./images/gallery/gallery-7-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-7-tab.jpg 1x, ./images/gallery/gallery-7-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-7-mob480.jpg 1x, ./images/gallery/gallery-7-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-7-mob.jpg" loading="lazy" alt="Ice Cream and street">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-8-desk.jpg 1x, ./images/gallery/gallery-8-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-8-tab.jpg 1x, ./images/gallery/gallery-8-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-8-mob480.jpg 1x, ./images/gallery/gallery-8-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-8-mob.jpg" loading="lazy" alt="Ice Cream and dog">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-9-desk.jpg 1x, ./images/gallery/gallery-9-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-9-tab.jpg 1x, ./images/gallery/gallery-9-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-9-mob480.jpg 1x, ./images/gallery/gallery-9-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-9-mob.jpg" loading="lazy" alt="Ice Cream drink">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="./images/gallery/gallery-10-desk.jpg 1x, ./images/gallery/gallery-10-desk@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-10-tab.jpg 1x, ./images/gallery/gallery-10-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg">
          <source srcset="./images/gallery/gallery-10-mob480.jpg 1x, ./images/gallery/gallery-10-mob480@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
          <img class="gallery__img" src="./images/gallery/gallery-10-mob.jpg" loading="lazy" alt="Ice cream drink in a glass">
        </picture>
      </li>
    </ul>
  </div>
</section>