<section class="gallery-section">
  <div class="container container--gallery">
    <h2 class="visually-hidden">Gallery Ice Cream</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <sourse srcset="./images/gallery/gallery/gallery-1-desk.jpg 1x, ./images/gallery/gallery/gallery-1-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-1-tab.jpg 1x, ./images/gallery/gallery/gallery-1-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-1-mob.jpg 1x, ./images/gallery/gallery/gallery-1-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-1-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <sourse srcset="./images/gallery/gallery/gallery-2-desk.jpg 1x, ./images/gallery/gallery/gallery-2-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-2-tab.jpg 1x, ./images/gallery/gallery/gallery-2-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-2-mob.jpg 1x, ./images/gallery/gallery/gallery-2-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-2-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
       <picture>
          <sourse srcset="./images/gallery/gallery/gallery-3-desk.jpg 1x, ./images/gallery/gallery/gallery-3-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-3-tab.jpg 1x, ./images/gallery/gallery/gallery-3-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-3-mob.jpg 1x, ./images/gallery/gallery/gallery-3-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-3-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
      <picture>
          <sourse srcset="./images/gallery/gallery/gallery-4-desk.jpg 1x, ./images/gallery/gallery/gallery-4-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-4-tab.jpg 1x, ./images/gallery/gallery/gallery-4-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-4-mob.jpg 1x, ./images/gallery/gallery/gallery-4-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-4-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
       <picture>
          <sourse srcset="./images/gallery/gallery/gallery-5-desk.jpg 1x, ./images/gallery/gallery/gallery-5-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-5-tab.jpg 1x, ./images/gallery/gallery/gallery-5-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-5-mob.jpg 1x, ./images/gallery/gallery/gallery-5-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-5-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <sourse srcset="./images/gallery/gallery/gallery-6-desk.jpg 1x, ./images/gallery/gallery/gallery-6-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-6-tab.jpg 1x, ./images/gallery/gallery/gallery-6-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-6-mob.jpg 1x, ./images/gallery/gallery/gallery-6-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-6-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
       <picture>
          <sourse srcset="./images/gallery/gallery/gallery-7-desk.jpg 1x, ./images/gallery/gallery/gallery-7-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-7-tab.jpg 1x, ./images/gallery/gallery/gallery-7-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-7-mob.jpg 1x, ./images/gallery/gallery/gallery-7-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-7-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
      <picture>
          <sourse srcset="./images/gallery/gallery/gallery-8-desk.jpg 1x, ./images/gallery/gallery/gallery-8-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-8-tab.jpg 1x, ./images/gallery/gallery/gallery-8-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-8-mob.jpg 1x, ./images/gallery/gallery/gallery-8-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-8-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
       <picture>
          <sourse srcset="./images/gallery/gallery/gallery-9-desk.jpg 1x, ./images/gallery/gallery/gallery-9-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-9-tab.jpg 1x, ./images/gallery/gallery/gallery-9-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-9-mob.jpg 1x, ./images/gallery/gallery/gallery-9-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-9-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
      <li class="gallery__item">
       <picture>
          <sourse srcset="./images/gallery/gallery/gallery-10-desk.jpg 1x, ./images/gallery/gallery/gallery-10-desk@2x.jpg 2x" media="(min-width: 1200px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-10-tab.jpg 1x, ./images/gallery/gallery/gallery-10-tab@2x.jpg 2x" media="(min-width: 768px)"/>
          <sourse srcset="./images/gallery/gallery/gallery-10-mob.jpg 1x, ./images/gallery/gallery/gallery-10-mob@2x.jpg 2x" media="(min-width: 480px)"/>
          <img class="gallery__img" src="./images/gallery/gallery/gallery-10-desk.jpg" loading="lazy" alt="Ice Cream plate">
        </picture>
      </li>
    </ul>
  </div>
</section>