<section class="hero">
  <div class="hero__container">
    <header class="page-header">
      <a href="./index.html" class="logo"
        ><svg width="199px" height="50px">
          <use href="./images/icons.svg#icon-logo"></use></svg
      ></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link nav__link--active">Home</a>
          </li>
          <li class="nav__item"><a href="" class="nav__link">About us</a></li>
          <li class="nav__item"><a href="" class="nav__link">How it’s made?</a></li>
          <li class="nav__item"><a href="" class="nav__link">Our products</a></li>
          <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
        </ul>
      </nav>
      <button type="button" class="mob-menu__open-btn">
        <svg width="22px" height="14px">
          <use href="./images/icons.svg#icon-menu-open"></use>
        </svg>
      </button>
      <button type="button" class="page-header__btn">
        Buy now<svg width="10px" height="10px" class="corner-svg">
          <use href="./images/icons.svg#icon-corner"></use>
        </svg>
      </button>
    </header>
    <div class="ice-circle"></div>

    <h1 class="title">ice cream<br />made with<br /><span class="title__wrap">passion</span></h1>
    <div class="hero__wrap-btn">
      <button type="button" class="hero__btn hero__btn--active">Products</button>
      <button type="button" class="hero__btn">How it’s made?</button>
    </div>

    <picture class="hero__img">
      <source
        srcset="./images/desktop/hero-1-1200.png 1x, ./images/desktop/hero-1-1200@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tablet/hero-1-768.png 1x, ./images/tablet/hero-1-768@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/mobile/hero-1-320.png 1x, ./images/mobile/hero-1-320-2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="./images/mobile/hero-1-320.png" alt="мороженное" />
    </picture>

    <div class="eco-milk">
      <picture class="eco-milk__img">
        <source
          srcset="./images/desktop/hero-2-1200.png 1x, ./images/desktop/hero-2-1200@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/hero-2-768.png 1x, ./images/tablet/hero-2-768@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/hero-2-768.png" alt="bio-milk" />
      </picture>
      <p class="eco-milk__text">
        Organic milk refers to<br />
        a number of milk products<br />
        from livestock raised according<br />
        to organic farming methods.
      </p>
      <button type="button" class="arrow-right__btn">
        <picture class="arrow-right__img">
          <source
            srcset="./images/desktop/hero-arrow-d.png 1x, ./images/desktop/hero-arrow-d@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/hero-arrow-t.png 1x, ./images/tablet/hero-arrow-t@2x.png 2x"
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/hero-arrow-t.png" alt="arrow right" />
        </picture>
      </button>
    </div>
    <div class="hero__right-wrap">
      <a href="" class="hero__right-wrap__link hero__right-wrap__link__16"
        ><span class="hero__right-wrap__number text-alight--left">16</span>
        <picture class="hero__white-circle">
          <source
            srcset="
              ./images/desktop/hero-white-circle.png    1x,
              ./images/desktop/hero-white-circle@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/hero-white-circle.png    1x,
              ./images/tablet/hero-white-circle@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/hero-white-circle.png" alt="white circle" />
        </picture>
        <p class="hero__right-wrap-text text-alight--center">cafes</p>
      </a>
      <a href="" class="hero__right-wrap__link hero__right-wrap__link__23"
        ><span class="hero__right-wrap__number text-alight--center">23</span>
        <picture class="hero__white-circle">
          <source
            srcset="
              ./images/desktop/hero-white-circle.png    1x,
              ./images/desktop/hero-white-circle@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/hero-white-circle.png    1x,
              ./images/tablet/hero-white-circle@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/hero-white-circle.png" alt="white circle" />
        </picture>
        <p class="hero__right-wrap-text text-alight--left">food trucks</p></a
      >
      <picture class="tasty-girl">
        <source
          srcset="./images/desktop/hero-3-1200.png 1x, ./images/desktop/hero-3-1200@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/hero-3-768.png 1x, ./images/tablet/hero-3-768@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/hero-3-768.png" alt="girl eating ice cream" />
      </picture>
    </div>
  </div>
</section>
