<section class="hero">
  <header class="page-header">
    <div class="container page-header__container">
      <a href="./index.html" class="logo">LOGO SVG</a>
      <button type="button" class="mob-menu__open-btn">SVG</button>
    </div>
  </header>
  <div class="container">
    <h1 class="title">ice cream<br />made with<br /><span class="title__wrap">passion</span></h1>
    <div class="hero__wrap-btn">
      <button type="button" class="hero__btn hero__btn--active">Products</button>
      <button type="button" class="hero__btn">How it’s made?</button>
    </div>
    <picture>
                <source
                  srcset="
                    ./images/mobile/hero-1-320.png,
                    ./images/mobile/hero-1-320@2x.png
                  "
                  media="(min-width: 480px)"
                />
                <img
                  src="./images/mobile/hero-1-320.png"
                  alt="програмист набирающий код"
                />
    <!-- <div class="eclipse-wrap"></div> -->
  </div>
</section>
