<section class="section products__section" id="products">
    <div class="container">
    <p class="section__sup-title">100% natural</p>
    <h2 class="section__title">Products</h2>
    <ul class="products__list list">
        <li class="products__item list__item">
            <h3 class="products__title">Ice cream</h3>
            <p class="products__description">It's natural. It's yummy. Those who have tasted it, swear by it. The unique feature of the ice creams manufactured by IceCream is that they contain no artificial flavours, no preservatives or stabilisers, only fresh fruit pulp or dry fruits.</p>
            <button type="button" class="button button--rounded products__button">
                <svg class="button__image">
                    <use href="./images/icons.svg#icon-arrow-right"/>
                </svg>
            </button>
        </li>
        <li class="products__item list__item">
            <h3 class="products__title">Ice coffee</h3>
            <p class="products__description">We use 100% Arabica coffee from Guatemala, Honduras and Colombia. Honey processed, medium roasted.
                Our favorite way (and the secret technique) to drink iced coffee is to pour chilled coffee over coffee ice cubes.</p>
            <button type="button" class="button button--rounded products__button"> 
                <svg class="button__image">
                    <use href="./images/icons.svg#icon-arrow-right"/>
                </svg>
            </button>        
        </li>
        <li class="products__item list__item">
            <h3 class="products__title">Milkshakes</h3>
            <p class="products__description">Milkshake - a fragrant cold drink based on milk and ice cream with a delicate creamy taste and airy texture.
                You can add Oreos, Reese's Peanut Butter Cups, brownies, cookie dough, chocolate syrup, or fruit. Anything you like!</p>
            <button type="button" class="button button--rounded products__button"> 
                <svg class="button__image">
                    <use href="./images/icons.svg#icon-arrow-right"/>
                </svg>
            </button>        
        </li>    
    </ul>
</div>
</section>