<section>
    <p>100% natural</p>
    <p>Products</p>
    <ul>
        <li>
            <picture>
                <source 
                src="../images/desktop/products-1-1200.png 1x,
                ../images/desktop/products-1-1200@2x.png   2x" 
                media="(min-width: 1200px)" 
                />
                <source 
                src="../images/tablet/products-1-768.png 1x,
                ../images/tablet/products-1-768@2x.png   2x" 
                media="(min-width: 768px)" 
                />                              
                <source 
                src="../images/mobile/products-1-320.png 1x,
                ../images/mobile/products-1-320@2x.png   2x" 
                />
                <img
                src="../images/mobile/products-1-320.png 1x,
                ../images/mobile/products-1-320@2x.png   2x" 
                alt="ice cream" 
                />
            </picture>

        </li>
        <li></li>
        <li></li>
    </ul>
</section>