<section class="section pruducts__section">
    <p class="section_sup-title">100% natural</p>
    <p class="section_title">Products</p>
    <ul class="pruducts_list list">
        <li class="pruducts__item list__item">
            <picture class="pruducts__picture picture">
                <source 
                src="../images/desktop/products-1-1200.png 1x,
                ../images/desktop/products-1-1200@2x.png   2x" 
                media="(min-width: 1200px)" 
                />
                <source 
                src="../images/tablet/products-1-768.png 1x,
                ../images/tablet/products-1-768@2x.png   2x" 
                media="(min-width: 768px)" 
                />                              
                <source 
                src="../images/mobile/products-1-320.png 1x,
                ../images/mobile/products-1-320@2x.png   2x" 
                />
                <img
                src="../images/mobile/products-1-320.png 1x,
                ../images/mobile/products-1-320@2x.png   2x" 
                alt="Ice cream" 
                />
            </picture>
            <p class="products__title">Ice cream</p>
            <p class="dots">...</p>
            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button button--rounded products__button"> ->
                <svg class="button__image">
                    <use>
                </svg>
            </button>        
        </li>
        <li class="pruducts__item list__item">
            <picture class="pruducts__picture picture">
                <source 
                src="../images/desktop/products-2-1200.png 1x,
                ../images/desktop/products-2-1200@2x.png   2x" 
                media="(min-width: 1200px)" 
                />
                <source 
                src="../images/tablet/products-2-768.png 1x,
                ../images/tablet/products-2-768@2x.png   2x" 
                media="(min-width: 768px)" 
                />                              
                <source 
                src="../images/mobile/products-2-320.png 1x,
                ../images/mobile/products-2-320@2x.png   2x" 
                />
                <img
                src="../images/mobile/products-2-320.png 1x,
                ../images/mobile/products-2-320@2x.png   2x" 
                alt="Ice coffee" 
                />
            </picture>
            <p class="products__title">Ice cream</p>
            <p class="dots">...</p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button button--rounded products__button"> ->
                <svg class="button__image">
                    <use>
                </svg>
            </button>        
        </li>
        <li class="pruducts__item list__item">
            <picture class="pruducts__picture picture">
                <source 
                src="../images/desktop/products-3-1200.png 1x,
                ../images/desktop/products-3-1200@2x.png   2x" 
                media="(min-width: 1200px)" 
                />
                <source 
                src="../images/tablet/products-3-768.png 1x,
                ../images/tablet/products-3-768@2x.png   2x" 
                media="(min-width: 768px)" 
                />                              
                <source 
                src="../images/mobile/products-3-320.png 1x,
                ../images/mobile/products-3-320@2x.png   2x" 
                />
                <img
                src="../images/mobile/products-3-320.png 1x,
                ../images/mobile/products-3-320@2x.png   2x" 
                alt="Milkshakes" 
                />
            </picture>
            <p class="products__title">Milkshakes</p>
            <p class="dots">...</p>
            <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button button--rounded products__button"> ->
                <svg class="button__image">
                    <use>
                </svg>
            </button>        
        </li>    
    </ul>
</section>