<div class="backdrop-team is-hidden" data-team>
    <div class="team team--container">
        <button class="team__close" data-team-close>
                <svg class="team__close-icon">
                    <use href="./images/icons.svg#icon-menu-close"></use>
                </svg>
        </button>
        <h2 class="team__title">Dream Team</h2>
        <ul class="team__list">
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-anna-nesterenko.jpg 1x, ./images/team/team-anna-nesterenko@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-anna-nesterenko.jpg" loading="lazy" alt="Anna Nesterenko Team lead">
                </picture>
                <p class="team__name">Anna Nesterenko</p>
                <p class="team__desc">Team lead</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-anna-bilyk.jpg 1x, ./images/team/team-anna-bilyk@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-anna-bilyk.jpg" loading="lazy" alt="Anna Bilyk Scrum master">
                </picture>
                <p class="team__name">Anna Bilyk</p>
                <p class="team__desc">Scrum master</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-maksym-ivaniuk.jpg 1x, ./images/team/team-maksym-ivaniuk@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-maksym-ivaniuk.jpg" loading="lazy" alt="Maksym Ivaniuk Front-End Developer">
                </picture>
                <p class="team__name">Maksym Ivaniuk</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-dmytro-rumezhak.jpg 1x, ./images/team/team-dmytro-rumezhak@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-dmytro-rumezhak.jpg" loading="lazy" alt="Dmytro Rumezhak Front-End Developer">
                </picture>
                <p class="team__name">Dmytro Rumezhak</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-mikhail-shatalin.jpg 1x, ./images/team/team-mikhail-shatalin@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-mikhail-shatalin.jpg" loading="lazy" alt="Mikhail Shatalin Front-End Developer">
                </picture>
                <p class="team__name">Mikhail Shatalin</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-oksana-svieshnikova.jpg 1x, ./images/team/team-oksana-svieshnikova@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-oksana-svieshnikova.jpg" loading="lazy" alt="Oksana Svieshnikova Front-End Developer">
                </picture>
                <p class="team__name">Oksana Svieshnikova</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-sviatoslav-bondariev.jpg 1x, ./images/team/team-sviatoslav-bondariev@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-sviatoslav-bondariev.jpg" loading="lazy" alt="Sviatoslav Bondariev Front-End Developer">
                </picture>
                <p class="team__name">Sviatoslav Bondariev</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-alina-sergienko.jpg 1x, ./images/team/team-alina-sergienko@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-alina-sergienko.jpg" loading="lazy" alt="Alina Sergienko Front-End Developer">
                </picture>
                <p class="team__name">Alina Sergienko</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-ruslan-lisovskyi.jpg 1x, ./images/team/team-ruslan-lisovskyi@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-ruslan-lisovskyi.jpg" loading="lazy" alt="Ruslan Lisovskyi Front-End Developer">
                </picture>
                <p class="team__name">Ruslan Lisovskyi</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <picture>
                    <source srcset="./images/team/team-oleksii-borok.jpg 1x, ./images/team/team-oleksii-borok@2x.jpg 2x" media="(min-width: 480px)" type="image/jpeg">
                    <img class="team__img" src="./images/team/team-oleksii-borok.jpg" loading="lazy" alt="Oleksii Borok Front-End Developer">
                </picture>
                <p class="team__name">Oleksii Borok</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
        </ul>
    </div>
</div>

