<div class="backdrop-team is-hidden" data-team>
    <div class="team team--container">
        <button class="team__close" data-team-close>
                <svg class="team__close-icon">
                    <use href="./images/icons.svg#icon-menu-close"></use>
                </svg>
        </button>
        <h2 class="team__title">Dream Team</h2>
        <ul class="team__list">
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="Анна" class="team__img">
                <p class="team__name">Анна</p>
                <p class="team__desc">Team lead</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Ання</p>
                <p class="team__desc">Scrum master</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Максим Иванюк</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Дмитро Румежак</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Шаталин Михаил </p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Свєшнікова Оксана</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Sviatoslav Bondariev</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Алина Сергиенко</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Руслан Лисовский</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
            <li class="team__item">
                <img src="./images/gallery/gallery-1-tab.jpg" alt="" class="team__img">
                <p class="team__name">Oleksii Borok</p>
                <p class="team__desc">Front-End Developer</p>
            </li>
        </ul>
    </div>
</div>

