.container {
  width: 100%;
  //   max-width: 440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include mob {
    width: 310px;
  }

  @include tab {
    width: 630px;
  }

  @include desk {
    width: 1080px;
  }
}
