.mob-menu {
  @media screen and (max-width: 1199px) {
    width: 250px;
    min-height: 500px;
    background-color: #e17992;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 24px;
  padding-right: 30px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $whiteColorText;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.menu-container {
  padding-top: 24px;

  &__block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
    background-color: $whiteColorText;
    border-radius: 22px;

    &:hover,
    &:focus {
      background-color: $accentColor;
    }

    &:hover .menu-container__button,
    &:focus .menu-container__button {
      background-color: $accentColor;
      color: $whiteColorText;
    }
    &:hover .menu-container__icon,
    &:focus .menu-container__icon {
      fill: $whiteColorText;
    }
  }

  &__button {
    font-family: DM Sans;
    font-weight: bold;
    height: 44px;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $whiteColorText;
    color: $accentColor;
  }

  &__icon {
    margin-left: 14px;
    fill: $accentColor;
  }
}
.navigation {
  margin-top: 20px;

  &__item {
    display: flex;
    align-items: center;
    padding-left: 21px;
    height: 42px;
    border: 1px solid #e18298;

    &:hover .navigation__link,
    &:focus .navigation__link {
      color: $accentColor;
    }
  }

  &__link {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: $whiteColorText;

    &.current {
      color: $accentColor;
    }
  }
}
